@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #e9e9ee;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 5px;
  padding: 5px;
  
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
  /* min-height: 100vh; */
}

.main-footer {
  position: relative;
  padding:0px;
  margin: 0px;
  /* background-color: #643069ea; */
  background-repeat: repeat-x;
  background-position: right bottom;
}

.main-footer .footer-widget {
  position: relative;
  margin-bottom:0px;
}

.main-footer .widgets-section {
  position: relative;
}

.main-footer .footer-widget h2 {
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  color: #b39359;
  line-height: 1.2em;
  margin-bottom: 10px;
  margin-right:0px;
  text-transform: capitalize;
}

.main-footer .about-widget {
  position: relative;
}

.main-footer .about-widget .logo {
  position: relative;
  margin-bottom: 0px;
  width: 250px;
}

.main-footer .about-widget .text {
  position: relative;
  width: 500px;
}

.main-footer .about-widget .text p {
  position: relative;
  color:#0b2c3d;
  font-size: 16px;
  line-height: 1.4rem;
  font-family:kaftan;

}

.main-footer .about-widget .text p:last-child {
  margin-bottom: -10px;
  padding-bottom: 5px;
}

/* Footer List */

.main-footer .footer-list {
  position: relative;
}

.main-footer .footer-list li {
  position: relative;
  margin-bottom: 2px;
}

.main-footer .footer-list li a {
  position: relative;
  color: #0b2c3d;
  font-size: 15px;
  line-height: 1.3rem;
  padding-left: 15px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-footer .footer-list li a:hover {
  text-decoration: underline;
  color: #b39359;
}

.main-footer .footer-list li a:before {
  position: absolute;
  content: "\f105";
  left: 0px;
  top: px;
  color: #b39359;;
  font-weight: 800;
  font-family:kaftan;
}

/*Gallery Widget*/

.main-footer .gallery-widget {
  position: relative;
  max-width: 350px;
}

.main-footer .gallery-widget .images-outer {
  position: relative;
  margin: 0px -3px;
}

.main-footer .gallery-widget .image-box {
  position: relative;
  float: left;
  width: 33.333%;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.main-footer .gallery-widget .image-box img {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-footer .gallery-widget .image-box img:hover {
  opacity: 0.7;
}

/* Info List */

.main-footer .info-list {
  position: relative;
}

.main-footer .info-list li {
  position: relative;
  color: #0b2c3d;
  font-size: 15px;
  line-height: 1.3rem;
  font-family:kaftan;
}

.main-footer .info-widget .social-links {
  position: relative;
  float: left;
  padding: 0px 0px 0px  0px;
}

.main-footer .info-widget .social-links li {
  position: relative;
  margin-right: 10px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer .info-widget .social-links li:last-child {
  margin-right: 10px;
}

.main-footer .info-widget .social-links li a {
  position: relative;
  padding-left: 30px;
  color: #b39359;
  width: 40px;
  font-size: 1.3rem;
  height: 40px;
  /* line-height: 50px; */

  
  text-align: center;
  border-radius: 30%;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* .main-footer .info-widget .social-links li.google a {
  background-color: #4bb42b;
  
} */

.main-footer .info-widget .social-links li.google a:hover {
  color: #0b2c3d;
  
}
/* .main-footer .info-widget .social-links li.facebook a {
  background-color: #4bb42b; 
  
} */

.main-footer .info-widget .social-links li.facebook a:hover {
 color: #0b2c3d; 
  
}

/* .main-footer .info-widget .social-links li.twitter a {
  background-color: #4bb42b;
} */

.main-footer .info-widget .social-links li.twitter a:hover {
  color: #0b2c3d;
}

/* .main-footer .info-widget .social-links li.instagram a {
  background-color: #4bb42b;
} */

.main-footer .info-widget .social-links li.instagram a:hover {
  color: #0b2c3d;
}
.main-footer .info-widget .social-links li.vimeo a {
  color: #e1eaeb;
}

.main-footer .info-widget .social-links li.vimeo a:hover {
 color: #0b2c3d;
}

.main-footer .footer-bottom {
  position: relative;
  padding: 0px 0px;
  border-top: 2px solid #b39359;
  font-size: 14px;
  font-family:kaftan;
}

.main-footer .footer-bottom .footer-nav {
  position: relative;
  text-align: right;
}

.main-footer .footer-bottom .footer-nav li {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
  line-height: 1.0rem;
  display: inline-block;
  border-right: 2px solid #0b2c3d;

}

.main-footer .footer-bottom .footer-nav li:last-child {
  padding-right: 10px;
  margin-right: 10px;
  border-right: none;
}

.main-footer .footer-bottom .footer-nav li a {
  position: relative;
  color: #0b2c3d;
  font-size: 14px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-footer .footer-bottom .footer-nav li a:hover {
  color: #b39359;
  text-decoration: none;
}


.horizontal-scroll {
  width: 100%;
  height: 400px;
  background: url('http://mckenziedave.co.uk/1st-touch/footer_fr.png');
  -webkit-animation: backgroundScroll 400s linear infinite;
  animation: backgroundScroll 60s linear infinite;
  background-repeat: no-repeat;
  }
  
  @-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -600px 0;}
  }
          
  @keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -2000px 0;}
  }
  
  .horizontal-scroll2 {
  width: 100%;
  height: 400px;
  background: url('http://mckenziedave.co.uk/1st-touch/footer_bg.png');
  -webkit-animation: backgroundScroll2 400s linear infinite;
  animation: backgroundScroll2 30s linear infinite;
  background-repeat: no-repeat;
  }
  
  @-webkit-keyframes backgroundScroll2 {
  from {background-position: -1000px 0;}
  to {background-position: 0 0;}
  }
          
  @keyframes backgroundScroll2 {
  from {background-position: -2000px 0;}
  to {background-position: 0 0;}
  }


  @media (min-width: 993px) {
    .horizontal-scroll {
      width: 100%;
      height: 400px;
      background: url('http://mckenziedave.co.uk/1st-touch/footer_fr.png');
      -webkit-animation: backgroundScroll 400s linear infinite;
      animation: backgroundScroll 60s linear infinite;
      background-repeat: no-repeat;
    }
  
    .horizontal-scroll2 {
      width: 100%;
      height: 400px;
      background: url('http://mckenziedave.co.uk/1st-touch/footer_bg.png');
      -webkit-animation: backgroundScroll2 400s linear infinite;
      animation: backgroundScroll2 30s linear infinite;
      background-repeat: no-repeat;
    }
  }
  
  /* Hide background images for screens 992px or smaller */
  @media (max-width: 992px) {
    .horizontal-scroll, .horizontal-scroll2 {
      background: none;
      height: 0;
      overflow: hidden;
      animation: none; /* Stops the animation */
    }
  }
  
  
